.signup-popup{
    position: absolute;;
    top: -20%;
    z-index: 3;
    width: 100%;
    height: 120%;
    background-color: #00000090;
}

.loading-signup {
    position: relative;
    top: 20%;
    left: 42%
}

.signup-popup-container{
    top: 18%;
    /* place-self là một thuộc tính CSS 
    dùng để căn chỉnh một phần tử con trong 
    cả trục dọc (vertical) và trục ngang 
    (horizontal) bên trong một vùng lưới 
    (grid container) hoặc một vùng khung dẻo 
    (flex container) */
    margin: 0 auto;
    width: max(26vw, 360px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 25px 30px;
    border-radius: 8px;
    animation: fadeIn 0.5s;
    font-size: 18px;
}

.signup-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: tomato;
}

.signup-popup-title img {
    width: 16px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.signup-popup-title img:hover{
    transform: scale(1.2);
}

.signup-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signup-popup-inputs input{
    border: 1px solid tomato;
    padding: 10px;
    border-radius: 4px;
}

.signup-popup-container button{
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition:  0.35s ease-in-out;
}

.signup-popup-container button:hover{
    background-color: rgb(249, 63, 30);
}

.signup-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -10px;
}

.signup-popup-condition input{
    margin-top: 4px;
}

.signup-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}

.signup-popup p span:hover{
    color: rgb(255, 38, 0);
}

.password-eye{
    position: relative;
}

.password-eye input{
    width: 100%;
}

.show-hide-eye{
    position: absolute;
    top: 20%;
    right: 3%;
    width: 25px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.show-hide-eye:hover{
    transform: scale(1.1);
}

@media (max-width: 1000px) {
    .signup-popup-container{
        top: 16%;
    }
    .loading-signup {
        top: 19%;
        left: 39%
    }
}
@media (max-width: 750px) {
    .loading-signup {
        top: 18%;
        left: 36%
    }
}

@media (max-width: 600px) {
    .loading-signup {
        left: 25%
    }
}