.cart{
   margin-bottom: 100px;
}

hr{
    height: 1px;
    background-color: rgb(210, 210, 210);
}

.cart-items-title{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: tomato;
    font-size: max(1.5vw, 16px);
}

.cart-items-item{
    margin: 10px 0;
    color: black;
}

.cart-items-item img{
    width: 50px;
}

.cart-items-item .cross{
    cursor: pointer;
    border: 1px solid tomato;
    text-align: center;
    padding: 5px 0;
    border-radius: 8px;
    color: tomato;
    font-weight: 600;
    transition: 0.3s ease-in-out;
}


.cart-items-item .cross:hover {
    color: white;
    background-color: tomato;
}

.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw, 20px);
    font-size: max(1.3vw, 16px);
}

.cart-total{
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 20px;

}

.cart-total h2{
    color: tomato;
}

.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}

.cart-total hr{
    margin: 10px 0;
}

.cart-total button{
    color: white;
    background-color: tomato;
    width: max(15vw, 200px);
    padding: 12px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cart-total button:hover{
    background-color: rgb(252, 48, 12);
}

.cart-promocode{
    flex: 1;
}

.cart-promocode p {
    color: #555;
}

.cart-promocode-input{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eaeaea;
    border-radius: 4px;
}

.cart-promocode-input input{
    background: transparent;
    padding-left: 10px;
}

.cart-promocode-input button{
    width: max(10vw, 150px);
    padding: 12px 5px;
    background-color: tomato;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.cart-promocode-input button:hover{
    background-color: rgb(252, 48, 12);
}

@media (max-width: 900px) {
    
    .cart-items-title{
        display: grid;
        grid-template-columns: 0.8fr 1.5fr 1fr 1fr 1fr 0.5fr;
        gap: 10px;
    }
}

@media (max-width: 750px) {
    
    .cart-bottom{
        flex-direction: column-reverse;
    }
}

@media (max-width: 560px) {
    .cart-items-title{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
        gap: 20px;
    }
}