.add{
    width: 70%;
    /* margin-left: ; */
    margin: 30px 0 30px max(5vw, 25px);
    color: #6d6d6d;
    font-size: 20px;
}

input, textarea{
    font-size: 18px;
}

input:focus{
    border: 1px solid tomato;
}
textarea:focus{
    border: 1px solid tomato;
}

.add form{
    /* ở đây dùng gap đc vì cha của
    nó có class flex-col có thuộc tính
    display: flex trong file index.css */
    gap: 20px;
}

.add-img-upload img{
    cursor: pointer;;
    width: 120px;
}

.add-product-name, .add-product-description{
    width: max(40%, 280px);
}

.add-product-name input, .add-product-description textarea{
    padding: 8px;
}

.add-category-price{
    display: flex;
    gap: 30px;
}

.add-category-price select,
.add-category-price input {
    max-width: 120px;
    padding: 8px;
    font-size: 18px;
}

.add-btn{
    max-width: 303px;
    border: none;
    padding: 10px;
    background: none;
    color:tomato;
    border: 1px solid tomato;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    font-size: 20px;
    font-weight: 600;
}

.add-btn:hover{
    color: white;
    background-color: tomato;
}