.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr; 
    align-items: start;
    gap: 30px;
    border: 1px solid tomato;
    padding: 20px;
    margin: 30px 0;
    font-size: 20px;
    color: #505050;
}

.header-category{
    display: flex;
    justify-content: space-between;
}

.category{
    min-height: 30px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    color: tomato;
    border-color: tomato;
    font-weight: 500;
}

.order-item-food, .order-item-name{
    font-weight: 600;
}

.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}

.order-item-address{
    margin-bottom: 10px;
}

.order-item select{
    background-color: #ffedeb;
    border: 1px solid tomato;
    width: max(10vw, 120px);
    padding: 10px 5px;
    cursor: pointer;
    font-size: 16px;
    width: max(12vw, 162px);
}

.order-item select:hover{
    opacity: 0.8;
}

@media (max-width: 1000px) {
    .order-item {
        font-size: 18px;
        grid-template-columns: 0.5fr 2fr 1fr;
        padding: 15px 8px;
    }
    .order-item select{
        padding: 5px;
        width: max(12vw, 130px);
        font-size: 13px;
    }
    .order-item img {
        width: 40px;
    }
}